:root {
--yinmn-blue: #3d5a80ff;
--powder-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;
}

/* universal */
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 55% 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header section start */

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12.5% 75% 12.5%;
}

#notification-bar {
    grid-column: 1 / span end;
    grid-row: 1 / 2;
    background-color: var(--yinmn-blue);
    color: whitesmoke;
    text-align: center;
    padding: 5px;
}

#header-block {
    grid-column: 1 / span end;
    grid-row: 2 / 3;
    background-color: white;
    text-align: center;
}

#header-logo {
    width: 15%;
}
#header-nav {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    color: whitesmoke;
}

#break-bar {
    grid-column: 1 / span end;
    grid-row: 3 / span end;
    background-color: var(--burnt-sienna);
}

a:hover {
    color: var(--gunmetal);
}

/* header section end */


main {
    grid-template-columns: 1 / span end;
    grid-template-rows: 2 / 3;
    background-color: var(--light-cyan);
}


/* footer section start */

footer {
    grid-template-columns: 1 / span end;
    grid-template-rows: 3 / span end;
    background-color: var(--gunmetal);
    color: whitesmoke;
    padding: 30px 40px;
}

#company-info {

}

#footer-business-name {
    font-size: x-large;

}

/* footer section start */


/* home page styling */

#select-dahsboard-box {

}


/* dashboard page styling */


/* info page styling*/
